
/*Media querries tablette */

@media screen and (min-width: 768px) and (max-width: 962px){

    .explore-location{
        padding:50px;
        font-size:18px;
    }

    .footer-content:not(h3){
        position:relative;
        margin-top:30px;
        align-items: flex-end;
        padding:30px;
        
         }
         .footer-content h3{
             position: absolute;
             top:-15px;
             right:334px;
         }
}

/*Media querries tablette */

@media screen and (min-width:320px) and (max-width:767px){
   
    .principal-container{
        text-align:start;
    }

    .explore-location{
        font-size:18px;
        padding: 50px;
    }


.section-restaurants{
    padding:50px 0px 50px 0px;
    background-color:$color-container1;
}

.footer-content{
    flex-direction: column;
    align-items:flex-start;
      margin-top:30px;
    color: white;
   padding:20px;
 }
}
