/*loader*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    70% {
        visibility: visible;
        opacity: 1;
        transform: rotate(360deg);
    }

    85% {
        opacity: 0.5;
    }

    90% {
        opacity: 0;
    }

    100% {
        transform: rotate(720deg);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes background-loader {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
        visibility: visible;
    }

    80% {
        opacity: 0.5;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: rotate(720deg);
    }

    65% {
        opacity: 0.7;
        transform: rotate(0deg);
    }

    85% {
        opacity: 0.5;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: rotate(0deg);
    }
}

/*card-menu */

@keyframes move-card {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes validation {
    0% {
        transform: translatex(90px);
    }

    100% {
        
        animation-iteration-count: 2;
        animation-direction: alternate;
    }
}

@keyframes price {
    0% {
        transform: translatex(90px);
    }

    100% {
    }
}

@keyframes rotade-icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
