/*Footer*/

footer {
    width: 100%;
    background: #333333;
}

.footer-content {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px;
    .footer-text{
        display: flex;
        justify-content: space-between;
        column-gap:5px;
    }
}



footer h3 {
    font-family: Shrikhand;
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
}

footer a {
    margin-left: 10px;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

   

    .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    .footer-content__title{
        margin-left: 8px;
    }
    .footer-text{
        margin-bottom:10px;
        align-items: baseline;
        column-gap:5px;
    }
    }
}

