/*Button*/

.btn {
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    border: none;
    width: 250px;
    height: 100px;
    margin-top: 25px;
    font-size: 18px;
    box-shadow: $shadow;
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
        transform: scale(1.15);
        box-shadow: 1vw 1vw 1vw #d1d1d1;
    }
}

.btn_main {
    display: flex;
    justify-content: center;
}
