/*Coeur*/



.heart-empty{
    width: 25px;
    position: relative;
    bottom:1px;
    background-color: white;
     z-index: 2;
    transition:1s;
    opacity:1;
    &:hover {
        opacity:0;
        z-index: 1;
        transform-origin: 50% bottom;
    }
  
}
.heart-full{
    width: 25px;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.heart-empty2{
    width: 25px;
    position: relative;
    bottom:1px;
    background-color: white;
     z-index: 2;
    transition:1s;
    opacity:1;
    bottom:6px;
    &:hover {
        opacity:0;
        z-index: 1;
        transform-origin: 50% bottom;
    }
  
}
.heart-full2{
    width: 25px;
    position: absolute;
    z-index: 1;
    opacity: 1;
}
